
.navbar-links a {
  color: var(--white);
  text-decoration: none; 
}


.menu-toggle {
  color: var(--white);
}

.cart-button svg {
  color: var(--white);
}

.navbar {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-color: var(--primary-color);
padding: var(--spacing-sm) var(--spacing-md);
width: 100%;
height: 70px;
position: fixed;
top: 0;
left: 0;
right: 0;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
z-index: 1000;
}

.navbar-logo img {
height: 50px;
width: auto;
}

.navbar-links {
list-style: none;
display: flex;
align-items: center;
gap: var(--spacing-md);
margin: 0;
}

@media (max-width: 768px) {
.navbar {
    flex-direction:row;
    align-items: center;
    padding: var(--spacing-xs);
}

.navbar-links {
    flex-direction: column;
    align-items: center;
    display: none; 
    width: 100%;
    padding: var(--spacing-xs);
}

.navbar-links.active {
    display: flex;
}

.navbar-links a {
    font-size: 1rem;
    padding: var(--spacing-xs);
    color: var(--white); 
}

.menu-toggle {
    display: block;
    font-size: 1.5rem;
    color: var(--white);
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menu-toggle:hover {
    transform: scale(1.1);
}
}
