.navbar {
  padding: 1rem;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.logo {
  height: 90px;
  margin-right: 0.1rem;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
}

.navbar-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.language-button {
  background: none;
  border: none;
  cursor: pointer;
}

.language-text {
  margin-left: 0.5rem;
  text-transform: uppercase;
}

.cart-button {
  background: none;
  border: none;
  cursor: pointer;
}
