.navbar {
  padding: 1rem;
  background: #f9f9f9; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #2c2c2c; 
}

.logo {
  height: 90px;
  margin-right: 0.1rem;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: #2c2c2c; 
  transition: color 0.3s ease-in-out;
}

.navbar-links li a:hover {
  color: #888;
}

.navbar-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar-icons a {
  color: #2c2c2c;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar-icons a:hover {
  color: #888; 
}

.language-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.language-button:hover {
  color: #888;
}

.language-text {
  margin-left: 0.5rem;
  text-transform: uppercase;
  color: #2c2c2c; 
}

.cart-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.cart-button:hover {
  color: #888;
}

/* Footer */
.footer {
  background-color: #f9f9f9;
  color: #2c2c2c; 
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
}

.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer .social-media a {
  color: #2c2c2c;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.footer .social-media a:hover {
  color: #888;
}

.footer .address p,
.footer .company-info p {
  margin: 5px 0;
  color: #5c5c5c;
}

.footer .footer-nav {
  margin-top: 20px;
}

.footer .footer-nav a {
  color: #2c2c2c;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease-in-out;
}

.footer .footer-nav a:hover {
  color: #888;
}

.footer .address p svg,
.footer .company-info p svg {
  margin-right: 8px;
}