/* Navbar */
.navbar {
  padding: 1rem;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.logo {
  height: 90px;
  margin-right: 0.1rem;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
}

.navbar-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.language-button {
  background: none;
  border: none;
  cursor: pointer;
}

.language-text {
  margin-left: 0.5rem;
  text-transform: uppercase;
}

.cart-button {
  background: none;
  border: none;
  cursor: pointer;
}
/* Footer */
.footer {
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  text-align: center;
}

.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer .social-media a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

.footer .social-media a:hover {
  color: #888;
}

.footer .address p,
.footer .company-info p {
  margin: 5px 0;
}

.footer .footer-nav {
  margin-top: 20px;
}

.footer .footer-nav a {
  color: #333;
  text-decoration: none;
  margin: 0 15px;
}

.footer .footer-nav a:hover {
  color: #888;
}

.footer .address p svg,
.footer .company-info p svg {
  margin-right: 8px;
}
